#header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#second-header {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color: mediumspringgreen;
}

.prices {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.paragraph {
    font-family: Helvetica;
}

#third-header {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color: lightcoral;
}

